
.btns{
    display: flex;
    width: 100%;
    text-align: center;
    gap: 50px;
    justify-content: center;
    
}


.btn{
    width: 200px;
    font-size: 32px;
    border-radius:10px;
    
}

.btn:hover {
    filter: brightness(1.2); 
    transform: scale(1.05);
}
p{
    font-size: 28px;

}